# http://www.gnu.org/software/automake

Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/config.log
/config.status
/configure.scan
/stamp-h1

# http://www.gnu.org/software/dejagnu

/test/*.log
/test/*.sum
/test/site.*

# project specific

/hextime-bash-*.tar.gz
/data/unix-leap-seconds.list
/src/hextime
/src/hextime.pre
/test/unix-leap-seconds.list
/test/hextime.check
