# http://www.gnu.org/software/automake

Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/config.log
/config.status
/configure.scan
/stamp-h1

# project specific

/src/hextime
/src/hextime.pre
